
:root {
    --primary-color: hsl(218, 44%, 22%);
    --neutral-100: hsl(0, 0%, 100%);
    --p-color: hsl(220, 15%, 55%);
    --bg-color: hsl(212, 45%, 89%);
}


.desktop{
    width: 1440px;
}
.card{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}